.App {
  text-align: center;
  min-width: 800px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-vertical-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-button {
  flex: 1;
  padding: 20px;
  color: orange;
  font-weight: bold;
  border: none;
  background: none;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.Story {
  display: flex;
  margin: 50px;
}

.Story-rendering {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Story-source {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Story-source a {
  color: #ccc;
}

h1 {
  margin-bottom: 0;
}

